{%extends 'myapp/user_base.html'%}
{% load static %}
{% block body %}
<section id="hero" class="hero">
   <hr>
<div class="container">
    <h1>About Us</h1>
    <p style=" text-align: justify;">keralaspicesOnline.com is a first-of-its-kind online spice store conceived by a team of management professionals with decades of domain knowledge. Also, passion for promoting healthy and qualitative spices – the natural and traditional way is the driving force behind this venture.

Keralaspicesonline.com is India’s first online spices store. With over 40 major types of spices that are used to cook, you will find everything you are looking for as a tastemaker. Choose from a wide range of options in spices, exclusively handpicked to help you find the best quality available at the lowest prices. It is from the land of spices like Udumbumchola Taluk and Peermadu Taluk of the Idukki district of Kerala. Kumily, Vandanmedu, Thekkady, Munnar, and Kattappana are the major places of spice production in Kerala.

Kerala spices online spices store is an online seller for high-quality spices like cardamom, Pepper, Nutmeg, Clove, tea, coffee, etc. Here you will be able to buy export quality spices at low prices as collected directly from the farmers at Kumily(Thekkady), Kattappana, and Nedumkandam which are the land of spices. Here we offer all kinds of masalas that can add taste to your favorite dishes and food. We guarantee on-time delivery and the best quality because we are from the land of spices in Kerala!</p>
</div>
    <div class="container">
        <ul style="line-height:40px;">
            <li>
                Option to choose Payment via Internet banking , debit card, credit card, Paytm, Paypal for International customers
                Low price and High Quality
            </li>
            <li>free Delivery.</li>
            <li>Timely delivery</li>
            <li>24/7 support</li>
        </ul>
    </div>
</section>
 {% endblock %}
</html>