<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>J J Spices</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static './myapp/template_base/assets/vendor/bootstrap/css/bootstrap.min.css '%}" rel="stylesheet">
  <link href="{%static './myapp/template_base/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static './myapp/template_base/assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{%static './myapp/template_base/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static './myapp/template_base/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static './myapp/template_base/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static './myapp/template_base/assets/css/main.css'%}" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</head>
<style>
        /*whatsapp*/

.whatsapp{
  position: fixed;
  right:4px;
  top:70%;
}
.whatsapp h5{
         color:white;
         border-radius: 20px;
         background: rgb(7, 184, 7);
         padding: 12px;
         margin: 0 6px 5px 3px;
}
.whatsapplogo{
    height: 36px;
    width: 36px;
}

/* notification */
.notification{
  position: fixed;
  top: 70%;

}
.notification h5{
         color:white;
         border-radius: 20px;
         padding: 12px;
         margin: 0 6px 5px 3px;
}
.notificationlogo{
      height: 49px;
  width: 49px;
}
</style>
<body>

  <!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
         <img src="{%static './myapp/template_base/assets/img/logo.png '%}" alt="logo">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index" class="active">Home</a></li>
          <li><a href="non_user_about">About</a></li>
          <li class="dropdown"><a href="#"><span>Product Category</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
               {% for i in category_list %}
              <li><a href="base_category?id={{ i.id }}" style="text-transform: capitalize;">{{  i.category_name  }}</a></li>

              {% endfor %}
            </ul>
          </li>
          <li><a href="non_user_contact">Contact</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



{% block body %}


{% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>J J SPICES</h3>
              <p>
               ADDRESS<br><br>
                <strong>Phone:</strong> 5788847537<br>
                <strong>Email:</strong> jj@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="non_user_about">About us</a></li>
              <li><a href="non_user_contact">Contact</a></li>

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Product Category</h4>
            <ul>
               {% for i in category_list %}
              <li><a href="base_category?id={{ i.id }}" style="text-transform: capitalize;">{{  i.category_name  }}</a></li>

              {% endfor %}

            </ul>
          </div><!-- End footer links column-->


        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>J J SPICES</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="https://bootstrapmade.com/">JICKSON JOSE</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

<div class="notification">
   <h5> <a href="non_user_contact" style="text-decoration: none;" >
     <img src="{%static './myapp/media/notification.png' %}"  class="notificationlogo">
   </a></h5>
</div>

<div class="whatsapp">
   <h5> <a href="https://wa.link/kphh1f" style="text-decoration: none;" >
     <img src="{%static './myapp/media/whatsapp_logo.png' %}"  class="whatsapplogo">
   </a></h5>
</div>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!--  <div id="preloader"></div>-->

  <!-- Vendor JS Files -->
  <script src="{%static './myapp/template_base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{%static './myapp/template_base/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static './myapp/template_base/assets/js/main.js'%}"></script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</body>

</html>