{%extends 'myapp/user_base.html'%}
{% load static %}
{% block body %}
<hr>
<div class="container p-5">
    <p style=" text-align: justify;">
        Thanks for reaching out. Satisfying our customers is very important to us and I’m sorry our [product/ service] didn’t meet your expectations. I fully respect your decision and can only apologize for any problems your business experienced.

We’ve processed your refund, and you should expect to see the amount credited to your account in about 3 to 5 business days.
    </p>
<a href="user_order_status" class="btn btn-secondary">ok</a>

</div>
{% endblock %}